<div class="container recipe">
   <div class="row">
      <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <%= image_tag @book.image.url(:medium) %>
      </div>
   </div>
    <div class="col-sm-4 col-md-4">
      <p>
         <strong>Title:</strong>
         <%= @book.Title %>
      </p>

      <p>
         <strong>Author:</strong>
         <%= @book.Author %>
      </p>
      <p>
         <div class="star-rating" data-score= <%= @avg_review %> ></div>
         <em><%= "#{@reviews.length} reviews" %></em>
      </p>
      <p>
         <strong>Ranking:</strong>
         <%= @book.Ranking %>
      <p>  
       <p>
          <i class="fi.fa.fa-thumbs-o-up">
          <%= pluralize(@book.get_upvotes.size,"Like") %>
          </i>
          <i class="fi.fa.fa-thumbs-o-down">
          <%= pluralize(@book.get_downvotes.size,"Dislike") %>
      </p>
      <p>
          <%= link_to "Like", Like_book_path(@book), method: :get%>
          <%= link_to "DisLike", dilike_book_path(@book), method: :get%>
      </p>
          <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Amazon</a></li>
          <li><a data-toggle="tab" href="#menu1">Audiobook</a></li>
          <li><a data-toggle="tab" href="#menu2">Animated review</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Amazon.in</h3>
              <p><%= @book.Amazon %></p>
            </div>
          <div id="menu1" class="tab-pane fade">
              <h3>Audiobook</h3>
              <iframe width="720" height="315" src="http://www.youtube.com/embed/<%= @Animated_Review %>" frameborder="0"></iframe>
          </div>
          <div id="menu2" class="tab-pane fade">
              <h3>Animated review</h3>
              <iframe width="420" height="315" src="http://www.youtube.com/embed/<%= @Audiobook %>" frameborder="0"></iframe>
          </div>
        </div>
     </div>

<div class="col-sm-4 col-md-4">
 <% if current_user %>
  <%= form_tag(controller: "books", action: "favorite", method: "post") do %>
    <%= submit_tag "Add to Favorite"%>
<% end %>
<% end %> 
</div>      

</div>
</div>
</div>





<div class="container">
<div class="row">
<h3>You may also Like</h3>
<% @random_book.each do |book|%>

<div class="col-sm-4">
<%= link_to (image_tag book.image.url(:thumb)),book_path(book) %>
<p><%= book.Title %></p>
<p><%= book.Author %></p>
</div>
<% end %>
</div>
</div>

<div class="container">
<div class="row">
<p>
  <strong>Summary:</strong>
  <%= @book.Summary %>
</p>
<p>
  <strong>Awards:</strong>
  <%= @book.Awards %>
</p>

<p>
  <strong>Recommended by:</strong>
  <%= @book.Recommended_by %>
</p>
<h3>Write a Review</h3>
<br>
<br>
<%= link_to "Write a Review",new_book_review_path(@book) %>


<p>
   <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_book_review_path(@book), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>


</p>

<%= link_to 'Back', books_path %>

</div>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>