
<div class="container">
<div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag @book.image.url(:medium) %>
      </div>
    </div>
<p>
  <strong>Title:</strong>
  <%= @book.Title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.Summary %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.Rating %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @book.Ranking %>
</p>

<% if current_user %>
  <%= link_to "favorite",   favorite_book_path(@book, type: "favorite"), method: :put %>
  <%= link_to "unfavorite", favorite_book_path(@book, type: "unfavorite"), method: :put %>
<% end %>
<br>
<br>
Likes
<%= @book.get_upvotes.size%>
Disikes
<%= @book.get_downvotes.size%>
<%= link_to "Like", Like_book_path(@book), method: :get%>
<%= link_to "DisLike", dilike_book_path(@book), method: :get%>


<p>
  <strong>Awards:</strong>
  <%= @book.Awards %>
</p>

<p>
  <strong>Recommended by:</strong>
  <%= @book.Recommended_by %>
</p>

<p>
  <strong>Amazon:</strong>
  <%= @book.Amazon %>
</p>

<p>
  <strong>Audiobook:</strong>
  <%= @book.Audiobook %>
</p>

<p>
  <strong>Animated review:</strong>
  <%= @book.Animated_Review %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
