<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


   <nav class="navbar navbar-default ">
   <div class="container header_tag ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#category-dropdown" aria-expanded="false">
        <span class="sr-only">Category</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="col-xs-2 col-md-2">
      <a class="navbar-brand " href="#"><%= link_to "BestBooksEver", '/' %></a>
      </div>
    </div>
    <div class="col-xs-1 col-md-1">
        <a href="#"><%= link_to "Home", '/' %> <span class="sr-only"></span></a>
        </div>
        <div class="col-xs-1 col-md-1">
        <a href="#"><%= link_to "Dashboard", '/dashboard' %> <span class="sr-only"></span></a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="category-dropdown">
      <ul class="nav navbar-nav">

         

        <div class="col-xs-1 col-md-1">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li >
            <% Category.all.each do |category| %>
               <%= link_to category.name, books_path(category: category.name) %>
               <% end  %>
              </li>
          </ul>
        </li>
        </div>
      </ul>
        <div class="col-xs-1 col-md-1">

        <ul class="nav navbar-nav">
        
        <li class="dropdown drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recommended By <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Elon Musk</a></li>
            <li><a href="#">Peter Theil</a></li>
            <li><a href="#">Steve Jobs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Bill Gates</a></li>
          </ul>
        </li>
        
        </ul>
        </div>
      
        

        <ul class="navbar-header pull-right  " >

          
        <% if user_signed_in? %>
        <button  class="btn btn-alert button">
        <%=link_to "Sign Out",destroy_user_session_path,method: :delete %>
        </button>
        <%else %>
              
        <button  class="btn btn-alert button"><%= link_to "Sign Up", new_user_registration_path %></button>
        <button  class="btn btn-alert"><%= link_to "Login",new_user_session_path%></button>
        <%end %>
      </ul>
      <div class="navbar-header pull-right">
         <%= form_tag search_books_path, method: :get,role:"search" do %>
            <%= text_field_tag :search, params[:search] , :size => 15 %>
             <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
   
          <% end %>
          </div>
      
    </div>
    <!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->


            </div>
        </div>
        </div>
    </div>
